.main {
  display: flex;
  padding: 2em;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clockbox,
#clock {
  width: 100%;
  max-width: 600px;
}

/* Clock styles */
.circle {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.mid-circle {
  fill: #000;
}

.hour-marks {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.hour-hand {
  fill: none;
  stroke: #000;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-hand {
  fill: none;
  stroke: #000;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-hand {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.sizing-box {
  fill: none;
}

#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform 0.5s ease-in-out;
}

select.timezone-select {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  font-size: 16px;
}

select.manual-control-select {
  position: absolute;
  top: 90px;
  left: 10px;
  padding: 5px;
  font-size: 16px;
}

.hour-hand,
.minute-hand,
.second-hand {
  cursor: pointer;
}
